#doseTblBox {
    display: inline-block;
    margin: 40px 0 0 190px;
}

#btnBox {
	display: inline-block;
    position: absolute;
    top: 240px;
    right: 210px;
}

#doseDetailBox {
	width: 100%;
    background: #ffffff;
    border-radius: 20px;
}

#dosetblBox {
	width: 1000px;
}

#doseTbl {
    margin: 0 auto;
    width: 760px;
    line-height: 35px;
    text-align: center;
    background: #e6e6e6;
    border-radius: 20px;
    border: 1px solid #d1d1d1;
}

#doseTbl th {
    font-size: 19px;
    background: #eeeeee;
	width: 235px;
}

#doseTbl>tbody>tr:nth-child(1)>th {
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#doseTbl>tbody>tr:nth-child(10)>td:nth-child(1) {
	border-bottom-left-radius: 15px;
}

#doseTbl>tbody>tr:nth-child(10)>td:nth-child(2) {
    border-bottom-right-radius: 15px;
}
#doseTbl a {
	text-decoration: none;
	color: black;
}

#doseTbl td {
	font-size: 17px;
    background: #ffffff;
}

#doseShareBtn  {
	display: none;
}

#updateBtn, #removeBtn, #shareBtn {
    width: 180px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: white;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    border-radius: 17px;
    font-size: 17px;
}

#btnBox a, label {
	color: #1b4396;
    font-weight: bold;
    text-decoration: none;
}