#doseListHeader h3 {
	text-align: center;
    font-size: 28px;
    padding-top: 30px;
    color: #60605b;
}

#doseItemBox {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#doseItemBox a {
	text-decoration: none;
	color: #365eb0;
    font-weight: bold;
}

.doseItem {
	width: 300px;
    box-shadow: 0px 0px 19px #dadada;
    height: 370px;
    background: #f5f5df;
    margin: 10px 10px 23px 10px;
    border-radius: 85px;
}

#doseItemBigBox{
	      background: #f4f4f6;
    box-shadow: 0px 0px 4px #dadada;
    border-radius: 17px;
    margin-left: 80px;
    margin-top: 70px;
    width: 100%;
	
}

#doseItemBox {
    margin-top: 30px;
    padding-bottom: 60px;
}

#doseItemTbl {
    width: 1000px;
    font-size: 19px;
    text-align: center;
    line-height: 28px;
    border: solid 1px #dbdbdb;
    border-radius: 16px;
}

#doseItemTbl th {
    padding: 20px 0;
    background: #dfe9f5;
}

#doseItemTbl tr {
	line-height: 38px;
}

#firstTh {
	border-top-left-radius: 12px;
}

#lastTh {
	border-top-right-radius: 12px;
}