#section {
	width: 90%;
}

/* ---------- 캘린더 ------------ */
#calendarBox {
	display: inline-block;
    margin: 20px;
    padding: 20px 20px 0 20px;
    background: #eeedd5;
    border-radius: 20px;
}

#calendar {
    height: 610px;
    width: 650px;
}

.modal-dialog {
	max-width:680px;
}

/* ---------- 오늘의 복용 목록 ------------ */
#doseListBox {
    display: inline-block;
    margin: 20px 0;
    padding: 20px 20px 0 20px;
    background: #eeedd5;
    border-radius: 20px;
}

#doseListCal {
	width: 391px;
    height: 300px;
}

#doseListCal #fc-dom-86 {
	/* display:none; */
}

#doseListCal thead * {
	display:none;
}

/* ---------- 복용 등록 폼 ------------ */
#calendarModal {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px 20px;
}

#doseInsertFormBox {
	margin-top: 25px;
    background: #f1f1f1;
    border-radius: 20px;
    padding: 20px 25px 20px 20px;
    width:660px;
}

#doseInsertFormBox h3, #autoResultBox h3 {
    color: #4c86c2;
    padding: 13px;
    font-size: 19px;
    margin: 0;
}

#doseInsertForm {
	width: 616px;
    text-align: left;
    color: #546777;
}

#doseInsertForm table {
	padding: 0 0 0 13px;
}

#doseInsertForm th {
	padding: 10px 0;
	width: 160px;
}

#doseInsertForm input[type=text], #doseInsertForm input[type=number], #doseInsertForm input[type=date], #doseInsertForm input[type=time]{
    height: 27px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding: 0 14px;
}

#doseInsertForm input[type=date], #doseInsertForm input[type=time] {
    width: 151px;
}

#doseInsertForm input:focus {
	outline: 1px solid #b4b4b4;	
}

#doseInsertForm input[type=radio]{
    display: none;
}

#timeSlotTd {
	display: flex;
    flex-direction: row;
    line-height: 27px;
}

#doseInsertForm label {
    background: #d0deea;
    padding: 4px;
    font-size: 11px;
    border-radius: 7px;
    margin: 1px;
}

#doseInsertForm label:hover {
	background: #b7cee2;
}

#doseInsertBtnTd {
	text-align: right;
	padding-top: 17px;
}

#addDose, #resetDose {
    width: 60px;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
}

input[type='checkbox']:checked + label {
	background: red;
}

/* ----------  자동 완성 결과 ------------ */
#doseInsertFormBox {
	float: left;
}

#autoResultBox {
    width: 560px;
    float: right;
    height: 540px;
}

#autoResultScroll {
	width: 540px;
    height: 455px;
}

/* ----------  btn box ------------ */
#btnBoxParent {
	display:inline-block;
}

#btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61px;
    height: 231px;
    justify-content: space-around;
    border-radius: 5px;
    margin-left: 12px;
}

.calBtn {
    margin: 2px;
    background: #f6f6f6;
    width: 68px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    font-size: 14px;
}