#doseTblBox {
    display: inline-block;
}

#doseDetailBox {
	width: 650px;
    background: #fcf9f5;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    background: white;
    min-height: 700px;
    border: solid 2px #e7e7e7;
}

#doseTblBox > h3 {
	font-size: 23px;
    padding: 12px 0;
}

#dosetblBox {
	width: 1000px;
}

#doseTbl {
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
    background: #e6e6e6;
    border-radius: 20px;
    border: 1px solid #d1d1d1;
    width: 450px;
    margin-top: 22px;
    margin-bottom: 45px;
}

#doseTbl th {
    font-size: 19px;
    background: #c5dac7;
	width: 235px;
}

#doseTbl>tbody>tr:nth-child(1)>th {
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#doseTbl>tbody>tr:nth-child(10)>td:nth-child(1) {
	border-bottom-left-radius: 15px;
}

#doseTbl>tbody>tr:nth-child(10)>td:nth-child(2) {
    border-bottom-right-radius: 15px;
}
#doseTbl a {
	text-decoration: none;
	color: black;
}

#doseTbl td {
	font-size: 17px;
    background: #ffffff;
}

#doseShareBtn  {
	display: none;
}

#updateBtn, #removeBtn, #shareBtn {
    width: 133px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: white;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    border-radius: 17px;
    font-size: 17px;
    display: inline-block;
}

#btnBox a, label {
	color: #388a6b;
    font-weight: bold;
    text-decoration: none;
}

#doseTitleBox {
	font: bold 36px Avenir, Arial, georgia;
    color: #222222;
    /* padding-top: 30px; */
    position: relative;
    /* padding-bottom: 18px; */
    border-bottom: 1px solid #6d6d6d82;
    margin: 0 auto 35px auto;
    text-align: center;
    width: 300px;
}

#doseTitleBox > h2 {
	font-size: 30px;
}

#doseInfoHeader > img {
	width: 180px;
    margin: 15px 0;
}

#doseLineBox {
	margin: 20px;
    border: solid 3px #449173;
    min-height: 700px;
}

#doseMemBox > h3 {
	display: inline-block;
    margin-right: 11px;
    font-size: 22px;
}

#doseMemBox > span {
	font-size: 22px;
}

#doseTbl>tbody>tr:nth-child(5)>td {
	border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}