#doseBox {

    margin-left: 110px;
    margin-top: 50px;
	display:flex;
    justify-content: flex-start;
}

#doseListAndBtnBox {
	    padding-left: 0px;
    margin-left: -76px;
}

/* ---------- 캘占쏙옙占쏙옙 ------------ */
#calendarBox {
	/*     margin-left: 160px; */
	display: inline-block;
    margin: 20px;
    padding: 20px 20px 0 20px;
    background: #f9f9f4;
    border-radius: 20px;
    margin-top: -20px;
    box-shadow: 0px 0px 4px #dadada;
}

#calendar {
        height: 690px;
    width: 890px;
    background:#f9f9f4;
}

.modal-dialog {
	max-width:680px;
}

/* ---------- 占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙占� ------------ */
#doseListBox {
    display: inline-block;
    margin: 20px 0;
    padding: 20px 20px 0 20px;
/*     background: #eeedd5;
 */    border-radius: 20px;
    height: 445px;
}

#doseListCal {
	 margin-top: -40px;
    width: 341px;
    height: 106px;
    font-size: 24px;
    margin-left: 85px;
    border-radius: 20px;
    background: white;
}

#doseListCal #fc-dom-86 {
	/* display:none; */
}

#doseListCal thead * {
	display:none;
}

/* ---------- 占쏙옙占쏙옙 占쏙옙占� 占쏙옙 ------------ */
#calendarModal {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px 20px;
}

#doseInsertFormBox {
	margin-top: 25px;
    background: #f1f1f1;
    border-radius: 20px;
    padding: 20px 25px 20px 20px;
    width:660px;
}

#doseInsertFormBox h3, #autoResultBox h3 {
    color: #4c86c2;
    padding: 13px;
    font-size: 19px;
    margin: 0;
}

#doseInsertForm {
	width: 616px;
    text-align: left;
    color: #546777;
}

#doseInsertForm table {
	padding: 0 0 0 13px;
}

#doseInsertForm th {
	padding: 10px 0;
	width: 160px;
}

#doseInsertForm input[type=text], #doseInsertForm input[type=number], #doseInsertForm input[type=date], #doseInsertForm input[type=time]{
    height: 27px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding: 0 14px;
}

#doseInsertForm input[type=date], #doseInsertForm input[type=time] {
    width: 151px;
}

#doseInsertForm input:focus {
	outline: 1px solid #b4b4b4;	
}

#doseInsertForm input[type=radio]{
    display: none;
}

#timeSlotTd {
	display: flex;
    flex-direction: row;
    line-height: 27px;
}

#doseInsertForm label {
    background: #d0deea;
    padding: 4px;
    font-size: 11px;
    border-radius: 7px;
    margin: 1px;
}

#doseInsertForm label:hover {
	background: #b7cee2;
}

#doseInsertBtnTd {
	text-align: right;
	padding-top: 17px;
}

#addDose, #resetDose {
    width: 60px;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    margin: 5px;
}

/* input[type='checkbox']:checked + label {
	background: red;
} */

/* ----------  占쌘듸옙 占싹쇽옙 占쏙옙占� ------------ */
#doseInsertFormBox {
	float: left;
}

#autoResultBox {
    width: 560px;
    float: right;
    height: 455px;
}

#autoResultScroll {
	width: 540px;
    height: 370px;
}

/* ----------  btn box ------------ */
#btnBoxParent {
	display:inline-block;
}

#btnBox {
       display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 115px;
    justify-content: space-between;
    border-radius: 5px;
    margin-left: 12px;
    width: 100px;
}
 
.calBtn {
   font-weight: 600;
    border-color: #f2f9fb;
    margin: 2px;
    background: #f9f9f4;
    width: 145px;
    height: 43px;
    border-radius: 15px;
    border: 1px solid #c8c8c8;
    font-size: 17px;
    font-weight: 600;
    color: #626262;
    margin-left: 234px;
    margin-top: 150px;
    border: 0;
}
.calBtn:hover {
	box-shadow: 1px 1px 2px #d3d3d3;
    font-size: 17px;
	
}
.calBtn a {
	text-decoration: none;
    color: #626262;
}
