/* drug.css */
 a{
 	text-decoration: none;
 	    color: #0d3bb1;
 	 margin-left: 11px;
 }
 /* �뒪�겕濡ㅻ컮 �뾾�븷湲� */
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}
#searchResult{
	width: 1050px;
	display:flex;
	flex-wrap: wrap; /* 諛뺤뒪 �겕湲곗븞�뿉�꽌 以꾨컮轅� */
	justify-content: start;
	
}

.drugBox2scroll{
	overflow:scroll;
	 scrollbar-width: none;
}

.drugBox{
	width: 300px;
	height: 300px;
	margin: 10px 10px;
	display:flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 30px;
	overflow: hidden;
	border-color: #f7f7f7;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	background: #f6f8ff94;
	cursor: pointer;
	transition: all 0.3s;
}

.drugBox2{
	width: 600px;
    height: 600px;
	margin: 10px 10px;
	display:flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 30px;
	overflow: hidden;
	border-color: #f7f7f7;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	background: white;
	cursor: pointer;
	transition: all 0.3s;
}


.drugImg{
	width:100%;
	
}
.drugInfo{
	display:flex;
	flex-direction: column;
}
.itemName{
    margin-left: 11px;
   	    font-size: 22px;
	font-weight: bold;
}
.entpName{
	margin-left:5px;
	font-size: 13px;
}
.drugBox:hover {
	border: 3px solid white;
 	box-shadow: 5px 5px 5px #0d3bb1;
}

.drugBox2:hover {
	border: 3px solid white;
 	box-shadow: 5px 5px 5px #0d3bb1;
}


#section2{
    width: 93%;
    margin: 0 auto;
    opacity: 100%;
        background: white;
    border-radius: 10px;
    padding-bottom: 5%;
}