/* drugShapeSearchForm.css */

input[type=checkbox]{
	display:none;
}
#drugSearchContainer{
	display: flex;
	flex-direction: row;
}

#drugShapeSearchTitle{
	width: 95%;
    height: 100px;
    border-radius: 8px;
    border: 2px solid #cdcdcd;
    box-shadow: 0px 0px 6px #dadada;
    color: #515151;
    font-weight: bold;
    font-size: 25px;
    line-height: 100px;
}
#drugShapeSearchTitle a{
	text-decoration: none;
	color: black;
}

#drugShapeSearchForm table {
	/* width: 900px; */
	margin: 0 auto;
	margin-bottom: 25px;
}

#drugShapeSearchForm form {
    padding-top: 20px;
}

/* #drugShapeSearchForm th, #drugShapeSearchForm td{
	border: 1px solid #00000000;
    border-radius: 5px;
} */

/* ��� �˻� */
#search_shape td, #search_color td {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:280px;
}

.textItem{
	margin: 0 auto;
	display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 52px;
}

#drugShapeSearchForm th{
	background-color: #cfe5f7;
}

#shapeAlll, #shapeEtc, #drugLineEtc{
	line-height: 51px
}

.shapeBox, .typeBox, .lineBox{
	display: inline-block;
    height: 51px;
    border: 1px solid #d5d5d5;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.shapeBox {
	width: 65px;
}

.typeBox, .lineBox{
    width: 274px;
}

/* ���� �˻� */
.colorBox {
    width: 45px;
    margin: 0 2px;
    height: 45px;
}

#search_color td { 
	justify-content: space-around;
	width:280px;
}

#search_color td label {
	border-radius: 10px;
	border: 1px solid #b0b0b0;
}

#search_color td label:hover {
	border: 3px solid white;
 	box-shadow: 2px 2px 5px #bfbfbf;
}

label[for="cWhite"] {
	background: #ffffff;
}

label[for="cYellow"] {
	background: #ffd60b;
}

label[for="cOrange"] {
	background: #ff8100;
}

label[for="cPink"] {
	background: #ffb2d6;
}

label[for="cRed"] {
	background: #ff4545;
}

label[for="cBrown"] {
	background: #7f4a31;
}

label[for="cLightGreen"] {
	background: #b6ea63;
}

label[for="cGreen"] {
	background: #11972e;
}

label[for="cCyan"] {
	background: #4fced4;
}

label[for="cBlue"] {
	background: #3183fe;
}

label[for="cNavy"] {
	background: #103e83;
}

label[for="cPurple"] {
	background: #9a4cad;
}

label[for="cViolet"] {
	background: #6b51d2;
}

label[for="cGray"] {
	background: #b3b3b3;
}

label[for="cBlack"] {
	background: #333333;
}

label[for="cTrans"] {
	background: #ffffff94;
}

/* ���Ҽ� �˻� */
#search_line td {
	position: relative;
	width:280px;
}

.lineNoneBox {
	/* position: absolute; */
    right: 2px;
}

/* ���� �˻� */
#search_type td {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width:280px;
}

/* ��ư */
#DSSbtn {
	width: 100%;
    height: 42px;
    border-radius: 8px;
    background: #cfe5f7;
    border: 1px solid #cdcdcd;
    color: #515151;
    font-weight: bold;
    font-size: 16px;
}

img {
	cursor: pointer;
}