/* drugShapeSearchForm.css */

#drugShaptSearchForm table,tr,th,td{
	border: 1px solid black;
}
#drugShaptSearchForm th{
	background-color: #81B89A;
}
#shapeAlll,#shapeEtc{
	line-height: 51px
}
.textItem{
	margin: 0 auto;
}

.shapeBox{
	display:inline-block;
	width:51px;
	height:51px;
	border: 1px solid black;
	background-color: white;

}
input[type=checkbox]:label{
 cursor: pointer;
	
}

input[type=checkbox]:checked+label{
border: 2px solid blue;
	
}
	
input[type=checkbox]{
	/* display:none; */
}

.colorAll{
	display:inline-block;
	width:51px;
	height:51px;
	border: 1px solid black;
	background: white;
}
.colorRed span{
	background: white;
	}


