/* drug.css */
 a{
 	text-decoration: none;
 	    color: #333;
 	 margin-left: 11px;
 }
 /* 占쎈뮞占쎄쾿嚥▲끇而� 占쎈씨占쎈막疫뀐옙 */
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}
#searchResult{
	width: 1050px;
	display:flex;
	flex-wrap: wrap; /* 獄쏅벡�뮞 占쎄쾿疫꿸퀣釉욑옙肉됵옙苑� 餓κ쑬而�饔낉옙 */
	justify-content: start;
	
}

.drugBox2scroll{
	overflow:scroll;
	 scrollbar-width: none;
}

.drugBox{
	width: 300px;
	height: 300px;
	margin: 10px 10px;
	display:flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 30px;
	overflow: hidden;
	border-color: #f7f7f7;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	background: #f6f8ff94;
	cursor: pointer;
	transition: all 0.3s;
}

.drugBox2{
	width: 600px;
    height: 600px;
	margin: 10px 10px;
	display:flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 30px;
	overflow: hidden;
	border-color: #f7f7f7;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	background: white;
	cursor: pointer;
	transition: all 0.3s;
}


.drugImg{
	width:100%;
	
}
.drugInfo{
	display:flex;
	flex-direction: column;
}
.itemName{
    margin-left: 11px;
   	    font-size: 19px;
	font-weight: bold;
}
.entpName{
	margin-left:5px;
	font-size: 13px;
}
.drugBox:hover {
	border: 3px solid white;
 	box-shadow: 5px 5px 5px #8d8c8c;
}

.drugBox2:hover {
	border: 3px solid white;
 	box-shadow: 5px 5px 5px #388a6b;
}


#section2{
    width: 93%;
    margin: 0 auto;
    opacity: 100%;
    background: #fdfaf8;
    border-radius: 10px;
    padding-bottom: 5%;
}

#footer {
	padding: 25px 0;
}