/* join.css */

#joinBox{
	margin: 0 auto;
    text-align: center;
    font-weight: 400;
    background: white;
    box-shadow: 0px 0px 6px #dadada;
    border-radius: 100px;
    color: #3e3e3e;
}

Table#joinTable{
	margin:auto; 
    
}
.col1{
	font-weight: bold;
}
.col1, .col2{
	text-align: left;
    height: 32px;
}

#emailRcv{
	margin-left:10px;
}

.agreebox{
	padding-bottom: 5px;
	overflow:scroll;
	width:600px;
	height:200px;
	background-color:white;
	margin-bottom: 5px;
}
.create{
	padding-bottom: 20px;
    padding-left: 95px;
}
#joinBtn, #cancelBtn{
    width: 300px;
    height: 40px;
    margin-top: 13px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    background: #388a6b;
    /* border-color: #e4e4ff; */
    border: 0;
    box-shadow: 0px 0px 6px #dadada;
    color: white;
    border-radius: 16px;
}




.btn1{
	
	 background: #388a6b;
    /* border-color: #ffe4e4; */
    border: 0;
    color: white;
    border-radius: 5px;
}


.btn2{
	
    background: #388a6b;
    /* border-color: #ffe4e4; */
    border: 0;
    color: white;
    border-radius: 5px;
}



h2{
	padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


label{
	padding-right: 25px;
}
#section2{
width: 93%;
    margin: 0 auto;
    opacity: 100%;
    background-color:#fdfaf8;
    border-radius: 100px;
    padding-bottom: 5%;
    
}
