.low {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-Family-Icon {
   width: 50px;
    height: 50px;
    border-radius: 63%;
    border: 3px solid #ffffff;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    margin: 3px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    justify-content: center;
    color: #746f6f;
    margin: 7px;
}


.health-Container {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 5%;
}

.health-Container-Box {
    width: 90%;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 10px;
    justify-content: space-around;
    margin: 10px;
}

.health-Content-Title {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: space-around;
    margin: 10px;
}

.health-Content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
}

.health-Box1 {
    margin-right: 20%;
    justify-content: space-around;
}

.health-Box2 {
    margin-left: 10%;
    justify-content: space-between;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: rgb(42 139 74);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    justify-content: center;
    cursor: pointer;
}

.moreBtn {
    width: 50px;
    height: 50px;
    background-color: rgb(86, 176, 255);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    justify-content: center;
    cursor: pointer;
    margin-left: 40px;
}

.delBtn {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 61, 61);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    justify-content: center;
    cursor: pointer;
}

.border {
    border: 2px solid rgb(32, 32, 32);
    width: 90%;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.healthTitle {
    width: 80%;
    justify-content: space-between;
}

.health-Btn-Container {
	margin-right: 350px;
    margin-bottom: 30px;
}

.health-Btn {
	border: none;
    color: #898989;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    margin: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.insertBtn {
	width: 200px;
    border-radius: 30px;
    font-size: 20px;
    height: 40px;
    font-weight: bold;
}

.updateBtn {
	width: 200px;
    border-radius: 30px;
    font-size: 20px;
    height: 40px;
    font-weight: bold;
}

.fam-List {
	position: fixed;
	margin-right: 1360px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
}

.fam-List a {
	text-decoration-line: none;
    color: white;
}

#plus {
	font-size: 35px;
    font-weight: bold;
    color: #746f6f;
    margin-top: 28px;
}

.active {
	background-color: #508BFF;
    color: white;
    box-shadow: 0 0 50px 0 rgb(92 160 255 / 37%);
}


