@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nanum+Gothic&display=swap');

	*{
	font-family: 'League Gothic', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
}

body {
	background: white;
}

#wrap {
	position: relative;
    width: 1373px;
    margin: 0 auto;
}

#logoBox > a > img {
	width: 147px;
    height: 56px;
}

/* --------- section ------------ */
#navMargin {
    margin-top: 20px;
}

#section {
	width: 100%;
    margin: 0 auto;
    opacity: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 6%;
}

/* --------- Footer ------------ */
#footer {
  width: 93%;
  margin:0 auto;
  padding: 25px 39px;
}

/* info */
#info1 h3 {
  margin-top: 8px;
}

#footerInfo > div {
  margin-top: 18px;
}

#footer a {
  text-decoration: none;
  color: #e9e7e3;
  margin: 0 12px 0 0;
}

#info4 {
  line-height: 28px;
}