#searchBox {
	width: 100%;
    margin-top: 10px;
}

#searchBox form {
	width: 100%;
	    margin-top: -10px;
}

#drugSearchInput {
	width: 93.77%;
    padding: 5px;
    border-radius: 0px 0 0 0px;
    height: 40px;
}

#search-Btn {
	width: 5%;
    padding: 5px;
    height: 50px;
    cursor: pointer;
}

#submit {
	width: 5%;
    padding: 5px;
    height: 50px;
    border-radius: 0 0px 0px 0;
    cursor: pointer;
    margin-left: -5px;
}