/* myPage.css */


#myPageItemBox2{
	  margin-top: 11px;
    /* background-color: #f6f9ff; */
    width: 10.8%;
    border-radius: 42px 42px 42px 42px;
    height: 242px;
    padding-top: 20px;
    margin: 0 auto;
    float: left;
    padding-left: 6px;
    padding-right: 0px;
    
    border: 1px solid white;
    background: white;
    box-shadow: 0px 0px 6px #dadada;
    
    color: #3f63b3;
    font-weight: normal;
    
}
#myPageItemBox2 li{
	list-style: none;
	
}
#myPageItemBox2 li a{
text-decoration:none;
    font-weight: 300;
        color: #000000;
}

#myPageItemBox2 li a:hover{
	font-weight: 400;
	 color: #000000;
	}

#myPageBox2{
	width:100%;
	height: 500px;
}



/* 회원정보수정 */
#updateUserBox2{
 margin: 0 auto;
 width:70%;
 height: 520px;
     padding-top: 1px;
    color: #606060;
	
}