/* --------- marquee ------------ */
#marqueeBox {
	position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0 13px 0;
    font-size: 24px;
    background: #f6f5ef;
    height: 9px;
    line-height: 13px;
    border-top: 2px solid #6d6d6d82;
}

marquee {
	width: 100%;
    font-size: 12px;
}

marquee a {
	margin: 0 48px;
    text-decoration: none;

        color: #646464;
        font: normal 13px Avenir, Arial, georgia;
}

/* --------- header ------------ */
#headerBox {
    position: relative;
    height: 115px;
    background: #f6f5ef;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    border-bottom: 1px solid #e2e0e0;
    margin-bottom: 50px;
}

#logoBox {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 40px;
}

#navBox {
	display: inline-block;
    position: absolute;
    top: 21px;
    left: 280px;
}

#topMenu {
      height: 30px;
    width: 550px;
    position: relative;
    background: #f6f5ef;
}

#topMenu ul {
  list-style-type: none;
  margin: 0px;
}

#topMenu ul li {
  color: white;
  float: left;
  line-height: 41px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.topMenuLi:hover .menuLink {
  color: #388a6b;
  
}

.topMenuLi:hover .submenu {
  height: 45px;
  opacity: 1;
}

.menuLink,
.submenuLink {
  text-decoration: none;
  display: block;
  font-weight: 500;
  margin: 0 15px;
}

.menuLink {
  font-size: 18px;
    line-height: 28px;
    color: #333;
    margin-top: 24px;
}

.submenu {
  position: absolute;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  width: 612px;
  left: -45px;
}

.submenu li {
  display: inline-block;
}

.submenuLink {
  font-size: 14px;
  margin: 0 10px;
  color: #333;
  font-weight: normal;
}

.submenuLink:hover {
  color: rgb(0, 0, 0);
}

.submenuLink:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: solid 2px #388a6b;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.submenuLink:hover:after {
  transform: scaleX(0.8);
}

.longLink {
  width: 100%;
}


/* --------- search bar ------------ */
#searchBox {
	position: absolute;
    right: 60px;
    top: 17px;
}

#searchBar {
    background: #ffffff;
    border: 1.8px solid #ffffff;
    width: 510px;
    height: 42px;
    line-height: 42px;
    border-radius: 25px;
    padding: 0 20px;
    margin-top: 19px;
}

.searchIcon {
	color: #3d3b3a;
}

.inputSearch {
	background: #ffffff;
    margin-left: 13px;
    width: 460px;
    font-size: 14.5px;
    height: 20px;
    border: none;
}

.inputSearch:focus {
	outline: 0;
    background: #fbfbfb;
   	color:#3d3b3a;
}

#searchBar:focus-within {
    background: #fbfbfb;
}

#submitBtn {
    display: none;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

#logoBox > a {
	    line-height: 95px;
	    font-size: 53px;
    margin-left: 61px;
    color: #388a6b;
    margin-bottom: 12px;
}