/* --------- marquee ------------ */
#marqueeBox {
	position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0 13px 0;
    font-size: 24px;
    background: #fbfbfb;
    height: 9px;
    line-height: 13px;
}

marquee {
	width: 100%;
    font-size: 12px;
}

marquee a {
	margin: 0 48px;
    text-decoration: none;
    color: #565656;
}

/* --------- header ------------ */
#headerBox {
    position: relative;
    height: 75px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
        margin-bottom: 50px;
}

#logoBox {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 40px;
}

#navBox {
	display: inline-block;
    position: absolute;
    top: 21px;
    left: 200px;
}

#topMenu {
  height: 30px;
  width: 550px;
  position: relative;
  background-color: white;
}

#topMenu ul {
  list-style-type: none;
  margin: 0px;
}

#topMenu ul li {
  color: white;
  float: left;
  line-height: 41px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.topMenuLi:hover .menuLink {
  color: #345CB5;
}

.topMenuLi:hover .submenu {
  height: 45px;
  opacity: 1;
}

.menuLink,
.submenuLink {
  text-decoration: none;
  display: block;
  font-weight: 500;
  margin: 0 13px;
}

.menuLink {
  font-size: 17px;
  color: black;
}

.submenu {
  position: absolute;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  width: 612px;
  left: -45px;
}

.submenu li {
  display: inline-block;
}

.submenuLink {
  font-size: 15px;
  margin: 0 10px;
  color: #000000;
  font-weight: normal;
}

.submenuLink:hover {
  color: rgb(0, 0, 0);
}

.submenuLink:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: solid 2px #345cb5ba;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.submenuLink:hover:after {
  transform: scaleX(0.8);
}

.longLink {
  width: 100%;
}


/* --------- search bar ------------ */
#searchBox {
	position: absolute;
    right: 60px;
    top: 17px;
}

#searchBar {
    background: white;
    border: 2px solid #f5f5f5;
    width: 500px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    padding: 0 20px;
    margin-top: 2px;
}

.searchIcon {
	color: #3d3b3a;
}

.inputSearch {
	background: white;
    margin-left: 13px;
    width: 460px;
    font-size: 14px;
    height: 37px;
    border: none;
}

.inputSearch:focus {
	outline: 0;
    background: #fbfbfb;
   	color:#3d3b3a;
}

#searchBar:focus-within {
    background: #fbfbfb;
}

#submitBtn {
    display: none;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}