body {
    margin: auto;
}

.right {
    margin-right: 10px;
}

.low {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(98,89,255);
    background: linear-gradient(90deg, rgba(98,89,255,1) 0%, rgba(138,176,209,1) 100%);
}

.dashboard {
    width: 1300px;
    height: 800px;
    margin: 30px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.profile {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
}

.profile-Box div {
    margin: 10px;
}

.profile-Box {
    width: 100%;
    height: 40%;
    padding: 40px;
    background-color: #81B89A;
}

.profile-My-Box {

}



.proflie-Img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proflie-Name {
    width: 150px;
    height: 40px;
    border-radius: 12px;
    background-color: rgb(255, 117, 75);
    text-align: center;
}

.profile-Family-Icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    background-color: #ff97a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-Container {
    height: 100%;
}

.btn {
    width: 170px;
    height: 35px;
    border-radius: 120px;
    margin: 15px;
    background-color: rgb(255, 117, 75);
    text-align: center;
}

.main-Content-Container {
    background-color: #F2F9FB;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
}

.main-Content {
    height: 100%;
    margin-left: 10px;
}

/* .search {
    color: white;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    width: 400px;
    height: 40px;
} */

input {
    width: 400px;
    height: 40px;
    font-size: 15px;
    border: 3 solid black;
    border-radius: 15px;
    outline: none;
    background-color: white;
}

select {
    width:150px;
    padding:5px;
    border:1px solid #999;
    font-family:'Nanumgothic';
    border-radius:3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance : none;
    margin-right: 20px;
}

.pill-Box {
    width: 570px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin: 10px;
}

.pill-Info {
    width: 570px;

    height: 50%;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin: 10px;
}

.pill-Form {
    width: 420px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin: 10px;
    height: 600px;
}

.pill-Go {
    background-color: rgb(48, 48, 48);
    width: 420px;
    height: 60px;
    border-radius: 60px;
}

.main-Content-Body {
	overflow: hidden;
	height:100%;
}

.main-Content-Header {
    width: 100%;
    height: 120px;
    background-color: #B2D6C7;
    justify-content: space-between;
}

.main-Content-Box {
    width: 100%;
    height: 100%;
}

.main-Content-Box {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.health-Data {
    width: 300px;
    height: 150px;
    background-color: grey;
    border-radius: 10px;
    margin: 5px;
}












.insertForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insertForm div {
	padding : 15px;
}

.genderInput {
	 text-align: center;
}












* {
    margin: 0; padding: 0;
    font-family: '맑은 고딕', Malgun Gothic, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 기본 클래스 */

/* searchbar 검색 오른쪽으로 이동 */



.master-title {
    font-size: 30px; /* Example Preview 글씨 크기 줄이기 */
    color: #181818;
}

.master-description {
    font-size: 15px; font-weight: 500;
    color: #383838;
}

#main-navigation {
    border-top: 1px solid #7eb66d; /* navbar 위에 한줄 긋기 */
    margin-bottom: 20px;
    height: 40px;
    width: 90%;
}
.outer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: rgb(94, 150, 255);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.outer-menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: all 0.4s;
}

.outer-menu-btn h5 {
	color: #1b81ff;
}

.outer-menu-btn:hover {
    background-color: rgb(94, 150, 255);
    color: white;
}

.outer-menu-btn:hover h5{
    color: white;
}

.outer-menu-item {
    float: left; /* 메뉴바 왼쪽 HTML5 CSS3 JavaScript */
    position: relative; /* static 위치를 기준으로 계산 */
    transition: all 0.5s;
    cursor: pointer;
}
.outer-menu-item:hover{
    background: rgb(94, 150, 255); /* 메뉴바 클릭시 검정색 */
    color: white;
}
.menu-title {
    display: block;
    height: 30px; line-height: 30px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 0px 0px 20px 20px;
}
.search-bar {
    width: 100%;
    height: 26px;
    padding: 7px;
}
.input-search {
    display: block;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 7px 0 0 7px;
    width: 90%;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #555555;
}
.input-search:focus { /* 검색창 클릭했을 때 색 변경 */
    border-color: rgba(133, 196, 148, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(133, 196, 148, 0.8);
}
.input-search-submit { /* 검색 모양 */
    display: block;
    float: left;
    width: 7%; 
    height: 42px;
    border-radius: 0 7px 7px 0;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    margin-left: -1px;
    vertical-align: top;
    display: inline-block;
}


.chart {
    width: 500px;
    height: 250px;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 15px;
}
