body {
    margin: auto;
}

.right {
    margin-right: 10px;
}

.low {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(98,89,255);
    background: linear-gradient(90deg, rgba(98,89,255,1) 0%, rgba(138,176,209,1) 100%);
}

.dashboard {
    width: 1300px;
    height: 800px;
    margin: 30px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.profile {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
}

.profile-Box div {
    margin: 10px;
}

.profile-Box {
    width: 100%;
    height: 40%;
    padding: 40px;
    background-color: #81B89A;
}

.profile-My-Box {

}



.proflie-Img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proflie-Name {
    width: 150px;
    height: 40px;
    border-radius: 12px;
    background-color: rgb(255, 117, 75);
    text-align: center;
}

.profile-Family-Icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    background-color: #ff97a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-Container {
    height: 100%;
}

.btn {
    width: 170px;
    height: 35px;
    border-radius: 120px;
    margin: 15px;
    background-color: rgb(255, 117, 75);
    text-align: center;
}

.main-Content-Container {
    background-color: #F2F9FB;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
}

.main-Content {
    height: 100%;
    margin-left: 10px;
}

/* .search {
    color: white;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    width: 400px;
    height: 40px;
} */

input {
    width: 400px;
    height: 40px;
    font-size: 15px;
    border: 3 solid black;
    border-radius: 15px;
    outline: none;
    background-color: white;
    
    
        padding-left: 9px;
    /* height: 17px; */
    margin-top: 11px;
    /* background: white; */
    border-color: white;
    /* border-radius: 2px; */
    color: black;
        border: 0;
    background: #f9f9f9;
    /* height: 30px; */
    border-radius: 8px;
    font-weight: 400;
}

select {
    width:150px;
    padding:5px;
    border:1px solid #999;
    font-family:'Nanumgothic';
    border-radius:3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance : none;
    margin-right: 20px;
}

.pill-Box {
    width: 570px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin: 10px;
}

.pill-Info {
    width: 570px;

    height: 50%;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin: 10px;
}

.pill-Form {
    width: 420px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin: 10px;
    height: 600px;
}

.pill-Go {
    background-color: rgb(48, 48, 48);
    width: 420px;
    height: 60px;
    border-radius: 60px;
}

.main-Content-Body {
	overflow: hidden;
	height:100%;
	padding-bottom: 53px;
}

.main-Content-Header {
    width: 100%;
    height: 120px;
    background-color: #B2D6C7;
    justify-content: space-between;
}

.main-Content-Box {
    width: 100%;
    height: 100%;
}

.main-Content-Box {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.health-Data {
    width: 300px;
    height: 150px;
    background-color: grey;
    border-radius: 10px;
    margin: 5px;
}












.insertForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insertForm div {
	padding : 15px;
}

.genderInput {
	 text-align: center;
}









a {
    text-decoration: none;
    color: #0b1634;
}

li {
    list-style: none;
}

.fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* �뜝�뜦蹂� �겢�뜝�룞�삕�뜝�룞�삕 */

/* searchbar �뜝�떙�궪�삕 �뜝�룞�삕�뜝�룞�삕�뜝�룞�삕�뜝�룞�삕�뜝�룞�삕 �뜝�떛�벝�삕 */



.master-title {
    font-size: 30px; /* Example Preview �뜝�뙗�뼲�삕 �겕�뜝�룞�삕 �뜝�룞�삕�뜝�떛源띿삕 */
    color: #181818;
}

.master-description {
    font-size: 15px; font-weight: 500;
    color: #383838;
}

#main-navigation {
    border-top: 1px solid #7eb66d; /* navbar �뜝�룞�삕�뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕 �뜝�뙥源띿삕 */
    margin-bottom: 20px;
    height: 40px;
    width: 90%;
}
.outer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: rgb(94, 150, 255);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.outer-menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: all 0.4s;
}

.outer-menu-btn h5 {
	color: #1b81ff;
}

.outer-menu-btn:hover {
    background-color: rgb(94, 150, 255);
    color: white;
}

.outer-menu-btn:hover h5{
    color: white;
}

.outer-menu-item {
    float: left; /* �뜝�뙣�뙋�삕�뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕 HTML5 CSS3 JavaScript */
    position: relative; /* static �뜝�룞�삕移섇뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕�뜝�룞�삕�뜝�룞�삕 �뜝�룞�삕�뜝占� */
    transition: all 0.5s;
    cursor: pointer;
}
.outer-menu-item:hover{
    background: rgb(94, 150, 255); /* �뜝�뙣�뙋�삕�뜝�룞�삕 �겢�뜝�룞�삕�뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕�뜝�룞�삕 */
    color: white;
}
.menu-title {
    display: block;
    height: 30px; line-height: 30px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 0px 0px 20px 20px;
}
.search-bar {
    width: 100%;
    height: 26px;
    padding: 7px;
}
.input-search {
    display: block;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 7px 0 0 7px;
    width: 90%;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #555555;
}
.input-search:focus { /* �뜝�떙�궪�삕李� �겢�뜝�룞�삕�뜝�룞�삕�뜝�룞�삕 �뜝�룞�삕 �뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕 */
    border-color: rgba(133, 196, 148, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(133, 196, 148, 0.8);
}
.input-search-submit { /* �뜝�떙�궪�삕 �뜝�룞�삕�뜝占� */
    display: block;
    float: left;
    width: 7%; 
    height: 42px;
    border-radius: 0 7px 7px 0;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    margin-left: -1px;
    vertical-align: top;
    display: inline-block;
}


.chart {
   width: 65%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 0 7px 0 rgb(133 133 133 / 37%);
}


#send_btn {
	cursor: pointer;
    margin-top: 20px;
}

#reset_btn {
	cursor: pointer;
    margin-top: 20px;
}

#ac {
	width: 100px;
}

#pc {
	width: 100px;
}

#section3 {
    margin: 0 auto;
    opacity: 100%;
    background-color: #ffffff;
    border-radius: 114px;
    padding-bottom: 1%;
    box-shadow: 0px 0px 6px #e3e3e3;
    height: 95%;
    width: 50%;
}
.formName{
	color: #3d5ca7;
    text-align: center;
    padding-top: 37px;
}

.basket-Item-Container h3 {
	color:#525252;	
}

#pressureForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 145px;
    color: #525252;
    padding-bottom: 41px;
}

#sugarForm{
	    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 145px;
        color: #525252;
    padding-bottom: 41px;
}

#send_btn,#reset_btn {
	color: #525252;
     font-size: 17px;
     font-weight:500;
     background: #f9f9f9;
}



