.low {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-Content-Body {
	height:100%;
}

.basket-Item-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s;
    flex-wrap: wrap;
}

/* 폼 내용 */

#section1{
   box-shadow: 1px 1px 5px 1px #d1d1d1;
   padding-top: 15px;
   padding-bottom: 45px;
   width: 80%;
   margin: 0 auto;
   opacity: 100%;
   background-color: #ffffff;
   border-radius: 35px;

}

h2{
	 padding-top: 45px;
   text-align: center;
   font-size: 25px;
   color: #388a6b;
}

hr{
	width : 100%;
	border:thin solid #b9a891;
}

#txt{
	margin-top:40px;
	margin-bottom:20px;
}

h4{
	display:inline;
    margin-right: 335px;
}

h6{
	font-size: 10px;
	display:inline;
	color : gray;
}   

.hm{ 
	width : 100%;
	display: inline-block;
	text-align:center;
	margin:auto;
}

#uploadFile{
	display:none;
}

.input-file-button{
    padding: 5px 206px;
    background-color: #388a6b;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px;
}

#ocr{
    border: none;
	padding: 6px 25px;
	background-color:#4a392d;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size:12px;
	letter-spacing: 2px;
}

#ocr:hover {
	 transform: scale(1.05);
}

#reset{
    border: none;
	padding: 6px 25px;
	background-color:#324a40;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size:12px;
	letter-spacing: 2px;
}

table{
    width: 100%;
    text-align:left;
    margin-top : 20px;
}
th{
	height : 30px;
}


#reset:hover {
	 transform: scale(1.05);
}
		
#image{
	width : 800px;
	height : 400px;
	background-color:#f5f5f5;
	border: 3px solid #267c58;
	margin:auto;
	text-align:center;
    border-radius: 7px;
}

#ocrResult {
	background-color: #b9a891;
    width: 70px;
	float: right;
    padding: 5px;
    margin-top: 20px;
    border-radius: 7px;
}

#check {
	text-decoration: none;
    color: white;
    font-size: 14px;
}

#hmName{
	width: 99%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    background-color: #efe9e1;
}
