<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pillyo.pill.dao.IPharmacyDAO">
  	<resultMap  id="PharmInfoResult" type="com.pillyo.pill.model.pharmacy.PharmacyVO">
 		<result property="drugInfoNo" column="drugInfoNo" />
 		<result property="itemName" column="itemName" />
	</resultMap>
  		
  		<insert id="insertPharmList" parameterType="java.util.List">
  			INSERT INTO pharmacy  (
  				dutyName,
				dutyAddr,
				dutyTel1,
				dutyTime1s, dutyTime2s, dutyTime3s, dutyTime4s, dutyTime5s, dutyTime6s, dutyTime7s, dutyTime8s,
				dutyTime1c, dutyTime2c, dutyTime3c, dutyTime4c, dutyTime5c, dutyTime6c, dutyTime7c, dutyTime8c,
				wgs84Lat, wgs84Lon,
				dutyEtc
  			)
  			values
  			<foreach collection="list" item="item" separator=",">
  				(
  				#{item.dutyName},
				#{item.dutyAddr},
				#{item.dutyTel1},
				#{item.dutyTime1s}, #{item.dutyTime2s}, #{item.dutyTime3s}, #{item.dutyTime4s},
				#{item.dutyTime5s}, #{item.dutyTime6s}, #{item.dutyTime7s}, #{item.dutyTime8s},
				#{item.dutyTime1c}, #{item.dutyTime2c}, #{item.dutyTime3c}, #{item.dutyTime4c},
				#{item.dutyTime5c}, #{item.dutyTime6c}, #{item.dutyTime7c}, #{item.dutyTime8c},
				#{item.wgs84Lat}, #{item.wgs84Lon}
				#{item.dutyEtc}
  				)
  			</foreach>
  		</insert>
  		
  		
  		<!-- 약 상세 정보 조회  -->
<!--   		<select id="detailViewDrug" parameterType="String"
  													resultType="com.pillyo.pill.model.DrugInfoVO">
  			SELECT * FROM druginfo WHERE drugInfoNo = #{drugInfoNo}
  		</select>	 -->
  		
  		<!-- 약 전체 목록 조회 -->
<!-- 		<select id="drugListView" resultMap="AutoDrugInfoResult">
			SELECT drugInfoNo, itemName FROM druginfo ORDER BY drugInfoNo
		</select> -->
  </mapper>