<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pillyo.pill.dao.IUserDAO">
  
  	<!-- 유져 DB 가져오기 -->
	<resultMap  id="userResult" type="com.pillyo.pill.model.UserVO">
	  <result property="userId" column="userId" />
	  <result property="userPw" column="userPw" />
	</resultMap> 
  
	<!-- 로그인 확인 -->
	<select id="loginCheck" resultMap="userResult" parameterType="hashmap">
		SELECT * FROM user WHERE userId=#{id} AND userPw=#{pw}
	</select>
	
	<!-- ID 중복 확인 -->
	<select id="userIdCheck" resultType="string" parameterType="string">
		SELECT userId FROM user WHERE userId =#{userId}
	</select>
	
	<!-- Email 중복 확인 -->
	<select id="userEmailCheck" resultType="string" parameterType="string">
		<!-- SELECT userEmail FROM user WHERE userEmail = #{email} -->
		SELECT userEmail FROM user WHERE userEmail = #{email} LIMIT 1
	</select>
	
	<!-- 회원가입 -->
	<insert id="userJoin" parameterType="com.pillyo.pill.model.UserVO">
		INSERT INTO user(userId, userPw, userName, userHp, userEmail, userAddress1, userAddress2, userZipcode, joinDate, joinPath)
		VALUES (#{userId}, #{userPw}, #{userName}, #{userHp}, #{userEmail}, #{userAddress1}, #{userAddress2},#{userZipcode}, default, 0 )
	</insert>
  	
		<!-- 회원 상세 정보 -->
	<select id="detailUserView" parameterType="String" resultType="com.pillyo.pill.model.UserVO">
		SELECT * FROM user WHERE userId =#{userId}
	</select>
		
		<!-- 회원 정보 삭제 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM user WHERE userId =#{userId}
	</delete>
  		
  		<!-- 회원 정보 수정 -->
		<update id="updateUser" parameterType="com.pillyo.pill.model.UserVO">
			UPDATE user SET
 			userPw=#{userPw}, 
 			userName=#{userName}, 
 			userHp=#{userHp}, 
 			userEmail=#{userEmail}, 
 			userAddress1=#{userAddress1}, 
 			userAddress2=#{userAddress2}, 
 			userZipcode=#{userZipcode}
			WHERE userId =#{userId}
		</update>
		
		
		<!-- 관리자메뉴-회원조회 -->
		<select id="listAllUser" resultType="com.pillyo.pill.model.UserVO">
			SELECT * FROM user
			ORDER BY userName
		</select>
		
		<select id="userCount" resultType="int">
			SELECT COUNT(*) FROM user
		</select>
  		
  </mapper>