/* adminMain.css */

a{
	text-decoration: none;
	color: black;
}
#adminContainer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#adminBox{
	border-radius: 8px;
    border: 2px solid #cdcdcd;
	width:210px;
	height:100%;
	text-align: center;
}
.tableBox{
	display: flex;
	flex-direction: column;
}
#adminItemMenu,
#adminUserMenu{
	padding: 0px;
}

.adminItemTitle{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #cdcdcd;
	background: #d9eafe;
	padding: 10px 0;
}

.adminItem{
	padding: 10px 0;
	box-sizing: border-box;
}
.adminItem:hover{
	background-color:#d9eafe;
}

#userCnt{
	width:150px;
	height:150px;
	/* border-radius: 80px; */
	background: #79b5ff;
	
	
}
.adminDrugItem{
	cursor: pointer;
}
.adminDrugItem ul{
	list-style:none;
	display: none;
}
#adminArticle{
	width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adminInfoBox{
	display: flex;
	
	width:300px;
	height: 500px;
	border: 2px solid #cdcdcd;
	border-radius: 10px;
}
