/* adminMain.css */

a{
	text-decoration: none;
	color: black;
}
#adminContainer{
	display: flex;
	flex-wrap: nowrap;
}

#adminBox{
	background: linear-gradient( 139deg , #79b5ff, #b9e1f4);
	width:210px;
	height:100%;
	text-align: center;
}

#adminItemMenu,
#adminUserMenu{
	padding: 0px;
}

.adminItemTitle{
	font-size: 25px;
	font-weight: bold;
	color: white;
	padding: 10px 0;
}

.adminItem{
	padding: 10px 0;
	box-sizing: border-box;
}
.adminItem:hover{
	background-color: white;
}

#userCnt{
	width:150px;
	height:150px;
	border-radius: 80px;
	background: #79b5ff;
	
	
}
.adminDrugItem{
	cursor: pointer;
}
.adminDrugItem ul{
	list-style:none;
	display: none;
}
