<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pillyo.pill.dao.IBodyDAO">
  		<insert id="insertBody" parameterType="com.pillyo.pill.model.BodyVO">
  			insert into bodymanage(
							height,
							weight,
							bmi,
							bodyRecordDate,
							famNo
  			) values(
							#{height},
							#{weight},
							#{bmi},
							#{bodyRecordDate},
							#{famNo}
  			)	
  		</insert>
  		
  		<select id="myListAllBody" parameterType="String" resultType="com.pillyo.pill.model.BodyVO">
  			select b.bodyNo,
  				   b.height,
  				   b.weight,
  				   b.bmi,
  				   b.bodyRecordDate,
  				   b.famNo,
  				   f.famMember,
  				   u.userId
  			from bodymanage b, user u, family f
  			where b.famNo = f.famNo and
  				  f.userId = u.userId and f.userId = #{userId}
  		</select>

  		
  		<select id="listAllBody" parameterType="int" resultType="com.pillyo.pill.model.BodyVO">
  			<!-- select * from bodyManage where famNo=#{famNo} -->
  			select * from bodymanage where famNo=#{famNo} order by bodyRecordDate desc LIMIT 7
  		</select>
  		
  		<update id="updateBody" parameterType="com.pillyo.pill.model.BodyVO">
  			update bodymanage set 
  				height =#{height},
				weight =#{weight},
				bmi =#{bmi},
				bodyRecordDate =#{bodyRecordDate},
				famNo =#{famNo}
  			where bodyNo = #{bodyNo}
  		</update>
		
  		<delete id="deleteBody" parameterType="int">
  			delete from bodymanage where bodyNo = #{bodyNo}
  		</delete> 
  		
  		<select id="detailViewBody" parameterType="int" 
			  	resultType="com.pillyo.pill.model.BodyVO">
  			SELECT * FROM bodymanage WHERE bodyNo=#{bodyNo} 
  			<!--안됌 : SELECT * FROM bodyManage WHERE bodyNo=#{bodyNo} order by limit bodyNo desc -->
  			<!--안됌 : SELECT * FROM bodyNo, bodyManage WHERE bodyNo=#{bodyNo} order by bodyNo desc -->
  		</select>
  </mapper>