<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pillyo.pill.dao.IPressureDAO">
  		<insert id="insertPressure" parameterType="com.pillyo.pill.model.PressureVO">
  			insert into  pressuremanage(
							Situation,
							SBP,
							DBP,
							bpm,
							pressureMemo,
							pressureRecordDate,
							pressureRecordTime,
							famNo
  			) values(
							#{situation},
							#{SBP},
							#{DBP},
							#{bpm},
							#{pressureMemo},
							#{pressureRecordDate},
							#{pressureRecordTime},
							#{famNo}
  			)
  			
  		</insert>
  		
  		<!-- <select id="listAllPressure" resultType="com.pillyo.pill.model.PressureVO">
  			select * from pressureManage
  		</select> -->
   		<select id="myListAllPressure" parameterType="String" resultType="com.pillyo.pill.model.PressureVO">
 			<!-- select * from pressureManage where famNo=#{famNo} -->
 			select p.pressureNo,
 				   p.Situation, 
 				   p.SBP,
 				   p.DBP,
 				   p.bpm,
 				   p.pressureMemo,
 				   p.pressureRecordDate,
 				   p.pressureRecordTime,
 				   p.famNo,
 				   f.famMember,
  			 	   u.userId
 			from pressuremanage p, user u, family f
 			where p.famNo = f.famNo and 
 				  f.userId = u.userId and f.userId = #{userId}
 		</select>	
 			
  		<select id="listAllPressure" parameterType="int" resultType="com.pillyo.pill.model.PressureVO">
  			<!-- select * from pressureManage where famNo=#{famNo} -->
  			select * from pressuremanage where famNo=#{famNo} order by pressureRecordDate desc LIMIT 7
  		</select>
  		
  		<update id="updatePressure" parameterType="com.pillyo.pill.model.PressureVO">
  			update pressuremanage set 
  				Situation =#{situation},
				SBP =#{SBP},
				DBP =#{DBP},
				bpm =#{bpm},
				pressureMemo =#{pressureMemo},
				pressureRecordDate =#{pressureRecordDate},
				pressureRecordTime =#{pressureRecordTime},
				famNo = #{famNo}
  			where pressureNo = #{pressureNo}
  			
  		</update>
  		
  		<delete id="deletePressure" parameterType="int">
  			delete from pressuremanage where pressureNo = #{pressureNo}
  		</delete>
  		
  		<select id="detailViewPressure" parameterType="int" 
  														  resultType="com.pillyo.pill.model.PressureVO">
  			SELECT * FROM pressuremanage WHERE pressureNo=#{pressureNo} 
  		</select>
  </mapper>