<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pillyo.pill.dao.ISugarDAO">
  		<insert id="insertSugar" parameterType="com.pillyo.pill.model.SugarVO">
  			insert into  sugarManage(
							situation,
							sugarMedication,
							acpc,
							sugarLevel,
							acpcMemo,
							sugarRecordDate,
							sugarRecordTime,
							famNo
  			) values(
							#{situation},
							#{sugarMedication},
							#{acpc},
							#{sugarLevel},
							#{acpcMemo},
							#{sugarRecordDate},
							#{sugarRecordTime},
							"001"
  			)
  			
  		</insert>
  		
<!--   		<select id="listAllSugar" resultType="com.pillyo.pill.model.SugarVO">
  			select * from sugarManage
  		</select> -->
  		
  		<select id="listAllSugar" parameterType="int" resultType="com.pillyo.pill.model.SugarVO">
  			select * from sugarManage where famNo=#{famNo}
  		</select>
  		
  		<update id="updateSugar" parameterType="com.pillyo.pill.model.SugarVO">
  			update sugarManage set 
  				situation =#{situation},
				sugarMedication =#{sugarMedication},
				acpc =#{acpc},
				sugarLevel =#{sugarLevel},
				acpcMemo =#{acpcMemo},
				sugarRecordDate =#{sugarRecordDate},
				sugarRecordTime =#{sugarRecordTime},
				famNo = #{famNo}
  			where sugarNo = #{sugarNo}
  			
  		</update>
  		
  		<delete id="deleteSugar" parameterType="int">
  			delete from sugarManage where sugarNo = #{sugarNo}
  		</delete>
  		
  		<select id="detailViewSugar" parameterType="int" 
  														  resultType="com.pillyo.pill.model.SugarVO">
  			SELECT * FROM sugarManage WHERE famNo=#{famNo}
  		</select>
  </mapper>