@charset "UTF-8";

	.boardBody {
    width: fit-content; /* 태그의 넓이를 500px로 */
	margin:0 auto; /* 양쪽 여백을 위아래는 0 좌우는 자동으로 잡아주겠다! */
	margin-top : 40px;
	}
	
	.ctgMenuItem {
	border-radius: 28px 28px 0px 10px;
        font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: all 0.4s;
    font-size: 18px;
        margin-bottom: 5px;
    font-weight: 700;
   
   }
   
   .ctgMenuItem a {
	text-decoration: none;
	color: #3f63b5;
	}
	
   .ctgMenuItemSub {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;
    transition: all 0.4s;
	flex-direction: row;
	text-align: center;
    line-height: 45px;
    font-size: 18px;
   }
   .ctgMenuItemSub a {
	text-decoration: none;
	color: #3f63b5;
}
   
.ctgMenuItem:hover {
/*        background-color: rgb(240 248 255);
 */    color: #636363;
    font-size: 20px;
    font-weight: 600;
    
}

.ctgMenuItem:hover a{
    color: #133e9f;
    
}
.ctgMenuItemSub:hover {
    color: #636363;
    font-size: 20px;
    font-weight: 600;
}

.ctgMenuItemSub:hover a{
   color: #636363;
}
    
    .ctgMenuBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    color: rgb(94, 150, 255);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.ctgMenuItemtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    color: rgb(94, 150, 255);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.table-striped{
/* 	    margin-top: 15px;

 */
 border:0;
     margin-top: 40px;
 text-align: center;  width:880px;
 
 }
 
 .table-stripedDetail{
/* 	    margin-top: 15px;

 */
 border-radius: 7px;
    background: white;
    width: 1000px;
        margin-bottom: 13px;
 }
tr{
	height: 40px;
    font-size: 17px;
}
td {
	color:#5d5d5d;
	height: 50px;
    font-size: 20px;
    
}

td > a {
	text-decoration: none;
	color:#5d5d5d;
}

button {
	background: white;
    color: #388a6b;
    border-color: #f2f9fb;
    height: 38px;
    width: 93px;
    border-radius: 10px;
    font-size: 13px;
    border-bottom-color: white;
    margin-left: 14px;
    float: right;
    font-weight: 600;
    border: 0;
    
    
}
button:hover {
	top: -2px;
    border: 1px solid white;
    background: white;
    box-shadow: 1px 1px 2px #d3d3d3;
    font-size: 14px;
}


th{
    background-color: #ffffff;
    text-align: center;
     width:90px;     font-size: 17px;
   color: #333;
   
}

#boardQnaContent, #boardMemberContent, #boardOrderPayContent, #boardTradeContent, #boardProductContent  {
	display:none;
}

.ctgMenuItemSub {
	display:none;
	color: rgb(73 73 73 / 71%);
    font-weight: 400;
	
}

.slider-1 {
	    margin: 0 auto;
}

#subTitle {
	font: bold 36px Avenir, Arial, georgia;
    color: #222222;
    /* padding-top: 30px; */
    position: relative;
    /* padding-bottom: 18px; */
    border-bottom: 1px solid #6d6d6d82;
    margin-bottom: 30px;
}

#subTitle2 {
	width: 1000px;
	font: bold 36px Avenir, Arial, georgia;
    color: #222222;
    /* padding-top: 30px; */
    position: relative;
    /* padding-bottom: 18px; */
    border-bottom: 1px solid #6d6d6d82;
   margin-bottom: 35px;
}

#subTitle > h2 {
	    font-size: 30px;
}

#subTitle2 > h2 {
	    font-size: 30px;
	        color: #333;
}

#boardCtgNo{
	    border-top: 1px solid #6d6d6d82;
}

.form-control{
	width: 1000px;
    height: 700px;
    border: none;
    outline: none;
    resize: none;
    padding-top: 33px;
    padding-left: 27px;
    font-size: 20px;	
}