@charset "UTF-8";

	.boardBody {
    width: fit-content; /* 태그의 넓이를 500px로 */
	margin:0 auto; /* 양쪽 여백을 위아래는 0 좌우는 자동으로 잡아주겠다! */
	margin-top : 40px;
	}
	
	.ctgMenuItem {
	border-radius: 28px 28px 0px 10px;
        font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: all 0.4s;
   }
   
   .ctgMenuItem a {
	text-decoration: none;
	color: #3f63b5;
	}
	
   .ctgMenuItemSub {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;
    transition: all 0.4s;
	flex-direction: row;
	text-align: center;
    line-height: 45px;
   }
   .ctgMenuItemSub a {
	text-decoration: none;
	color: #3f63b5;
}
   
.ctgMenuItem:hover {
    background-color:#cfe1f6;
    color: white;
}

.ctgMenuItem:hover a{
    color: #133e9f;
}
.ctgMenuItemSub:hover {
    background-color: #cfe1f6;
    color: white;
}

.ctgMenuItemSub:hover a{
    color: #133e9f;
}
    
    .ctgMenuBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    color: rgb(94, 150, 255);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.ctgMenuItemtotal{
	    display: flex;
}
.table-striped{
/* 	    margin-top: 15px;

 */
 text-align: center;  width:880px;
 
 }
 
 .table-stripedDetail{
/* 	    margin-top: 15px;

 */
 text-align: center; border: 1px solid #f1fff1; width:880px;
 
 }
tr{
	height: 40px;
    font-size: 17px;
}
td {
	color:#3f63b5;
	height: 40px;
    font-size: 18px;
    
}

td > a {
	text-decoration: none;
	color:#3f63b5;
}

button {
	background: #f2f9fb;
    color: #3f63b5;
    border-color: #f2f9fb;
    height: 38px;
    width: 86px;
    border-radius: 10px;
    font-size: 15px;
    border-bottom-color: white;
    margin-left: 14px;
    
    
}
button:hover {
	top:-2px;
	border: 1px solid white;
	background:white;
 	box-shadow: 2px 2px 5px #0d3bb1;
}

th{
background-color:#cfe2f6;
 text-align: center; width:90px;     font-size: 17px;
   color: #3f63b5;
}

#boardQnaContent {
	display:none;
}

.ctgMenuItemSub {
	display:none;
} 